* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: #ab9680f3;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}



header {
  background-color: #53bcaf;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(220, 220, 240);
}

.contenedorLogo {
  display: flex;
  align-items: center;
}

.Logo {
  width: auto;
  height: 80px;
  padding: 8px;
}

nav ul {
  display: flex;
  list-style: none;
  border-radius: 40px;
  padding: 14px;
  background-color: #000;
  margin-left: 10px;

}

li a {
  border-radius: 50px;
  color: #53bcaf;
  padding: 14px;
  text-decoration: none;
  font-size: 24px;
}


li a:hover {
  background-color: #fff;
}

.ini {
  display: flex;
  align-items: center;
  justify-items: center;


}

.textRegis {

  margin-top: 180px;
  font-size: 32px;
  margin-right: 25px;
  padding: 40px;

}

#inICIAR {
  margin-top: 140px;
  align-items: center;
  margin-right: 90px;
  padding: 90px;
  background-color: #000;
  box-shadow: 5px 5px 9px 7px rgba(255, 255, 255, 0.685);
}

.text1 {
  text-justify: center;
  color: #53bcaf;
  display: flex;
  font-size: 70px;
  padding: 0px;
}

.text2 {
  font-size: 28px;
}

#email1,
#pass1 {
  color: #000;
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  border: 3px solid #53bcaf;

}

.boton {
  display: flex;
  justify-content: space-between;

}

#acceder,
#google {

  color: #53bcaf;
  background-color: #000;
  border: 2px solid #53bcaf;
  padding: 8px;
  border-radius: 4px;
  font-size: 34px;
  font-weight: 400;
  margin: 20px 0;
  margin-left: 20px;
  margin-right: 20px;
}

#acceder:hover,
#google:hover {
  color: #53bcaf;
  background-color: #fff;
  transition: all 0.5s ease;
}